.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #281750;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TicketsList{
  margin-top: 25vmin;
}

.pagination {
 display: flex;
 justify-content: center;
 list-style: none;
 margin-top: 20px;
 padding: 0;
}

.pagination a {
 cursor: default;
 padding: 10px;
 border-radius: 5px;
 border: 1px solid #281750;
 color: #281750;
 margin-left: 10px;
}

.pagination li:not(.disabled) a:hover {
 background-color: #ffffff;
 cursor: pointer;
}

.pagination li a {
 font-weight: bold;
  text-decoration: none;
}

.pagination li.active a {
 color: #fff;
 background: #281750;
}

.pagination li.disabled a {
 pointer-events: none;
 color: rgb(198, 197, 202);
 border: 1px solid rgb(198, 197, 202);
}